<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {% block error_password %}
                {% if error %}
                    <p>password mismatch</p>
                {% endif %}
            {% endblock error_password %}
            <button class="submit" type="submit">Create Account</button>
        </form>
    </main>
</body>
</html>